.dropdown-menu {
    background:linear-gradient(rgb(41, 60, 61),transparent);
    background-color: #282c34;
    font-family: Ubuntu;
    color: #282c34;
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background-color: rgb(164, 69, 69);
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background:#ecd68f;
    color: #282c34;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: rgb(8, 8, 8);
    padding: 16px;
  }